.container {
    background-color: rgb(234, 236, 239);
}

#athlete-form {
    margin: 1rem;
    margin-left: 0px;
}

.mb-2 {
    margin: 1rem;
}


.card {
    margin: 1rem;
   
}

.card-img-top{
    margin-top: 1rem;
}